<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd   
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<mvc:annotation-driven />
	<context:component-scan base-package="com.bridgelabz"></context:component-scan>

	<!-- Configure JDBC Connection -->
	<!-- <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/GoogleAnalytic" />
		<property name="username" value="root" />
		<property name="password" value="bridgeit" />
	</bean> -->

	<!-- connection for postgres -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- <property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/Google_analytic" />
		<property name="username" value="postgres" />
		<property name="password" value="postgres" /> -->
		<property name="url"
			value="jdbc:postgresql://ec2-54-243-204-195.compute-1.amazonaws.com:5432/ddpike0tipr54q?user=skqmvldxmkpfob&amp;password=LIxvNC1-zC_iv1WwtJzhJ6Xnpf&amp;sslmode=require" />

		<property name="username" value="skqmvldxmkpfob" />
		<property name="password" value="LIxvNC1-zC_iv1WwtJzhJ6Xnpf" />
	</bean>
	
	<!-- Configure Hibernate 4 Session Facotry -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">create-drop</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.bridgelabz.model.SummaryDatabaseModel</value>
			</list>
		</property>
	</bean>

	<!-- class beans -->
	<bean id="hibernateDaoImpl" class="com.bridgelabz.dao.HibernateDaoImpl" />

</beans>